// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sign-up {
  background-image: url(/emoimap.jpg);
  background-size: cover;
  filter: grayscale(100%);
  height: 800px;
}
.sign-up2 {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  padding: 300px;
}